#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fafafa;
  #tinderlogo {
    height: 100px;
    width: 100px;
    // we want the image to not look weird after reducing the size
    object-fit: contain;
  }
  & > button {
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
    border-radius: 50px;
    padding: 10px;
    & > i {
      font-size: 30px;
    }
  }
}
