.tinder-cards {
  height: 500px;
  & > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .swipe {
      position: absolute;
      .card {
        position: relative;
        background-color: white;
        width: 600px;
        padding: 28px;
        max-width: 85vw;
        height: 50vh;
        box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        background-size: cover;
        background-position: center;

        & .cardName {
          color: white;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}
